
<div class="container mt-5 mb-5">
  <textarea name="" id="summernote" cols="30" rows="10">
   Lorem Ipsum dolor sit amet
  </textarea>
</div>

<script>
      $(document).ready(function() {
        $('#summernote').summernote();
      });
</script>