/* Custom design with class (99% of your design) */
.container {
  width: 500px;
  margin: 40px auto;
  height: 750px;
  background-color: #dddddd;
  justify-content: space-around;
}
  
  
.cardEdit {
  padding: 5px;
  border-radius: 4px;
  margin: 20px 0px;
  color: black;
}
 
.img-circle {
  border-radius: 50%;
}

  
/* Design adjustments using id (1% design remaining) */
#airmode {
  color: black;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}


